
#notificationstable td.notifiertogglefield {
	width: 50px;
	text-align: center;
	vertical-align: middle;
}

#notificationstable td.notifiertogglefield input {
	margin-right: 10px;
}

#notificationstable td.notifiertogglefield a {
	font-family: 'FontAwesome';
	font-size: 20px;
}

#notificationstable td.notifiertogglefield a:hover {
	text-decoration: none;
}

#notificationstable td.notifiertogglefield a:after {
	content: "\f0ac";
}

#notificationstable td.notifiertogglefield a.notifiertoggleOff {
	color: #cccccc;
}

#notificationstable td.notifiertogglefield a.notifiertoggleOn {
	color: #4690D6;
}

/* Style the popup module */
#notifier-popup {
	width: 345px;
	position: absolute;
}

.elgg-notifier-unread {
	background: #EDF5FF;
}

/* Count of unread notifications in topbar icon */
#notifier-new {
	color: white;
	background-color: red;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.50);
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.50);

	position: absolute;
	text-align: center;
	top: 0px;
	left: 26px;
	min-width: 16px;
	height: 16px;
	font-size: 10px;
	font-weight: bold;
}

/* Lightbox */
.notifier-lightbox-wrapper {
	width: 570px;
	min-height: 410px;
	margin: 20px 15px;
}